NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAHuIRYFVKWdbaDMzN2M2T6DnTdZBA90so
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=surau-87160.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=surau-87160
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=surau-87160.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=734935712888
NEXT_PUBLIC_FIREBASE_APP_ID=1:734935712888:web:744eb05defd51ccde5198d

FIREBASE_PROJECT_ID=surau-87160
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

ADMIN_EMAIL_ALLOWLIST=alfarieshsalman@gmail.com
